body {
	width: 100%;
}
h1 {
	text-align: center;
}
section {
	margin-left: 5%;
}
/* Для таблицы */
img {
	height: 50px;
}
.table {
    display: table;
    width: 90%;
    margin-top: 2%;
    border-spacing: 0;    
    overflow: hidden;
    border: 1px solid yellow;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    width: 10%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.tr:hover {
    padding: 20px;
    background-color: #ffe066;
}
.tr:nth-child(odd) .td:first-child::before {
    content: "";
    position: absolute;
    background-color: #fff5c2;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
}
.td:hover::after {
    content: "";
    position: absolute;
    background-color: #ffe066;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}
.tr:first-child {
    background-color: #ffe066;
}
/* Для формы */
form {
	width:40%;
	margin: auto;
	margin-top: 50px;	
	margin-bottom: 50px;
}
fieldset {
	background-color: #fff5c2;
}
legend {
	font-weight: bold;
}
input {
	margin: 2% auto;
}
button {
    display: none;
}
form > fieldset > label {
	display: block;
}
input[type="email"]:valid + label + input[type="tel"]:valid + button{
   display:block;
}
/* Фильтры */
input {
	margin-left: 10px;
	margin-right: 10px;
}
#depar:checked ~ div > div.arr {
	display: none;
}
#depar:checked ~ div > div.dep {
	background-color: white;
}
#arriv:checked ~ div > div.dep {
	display: none;
}
#arriv:checked ~ div > div.arr {
	background-color: white;
}
#C:not(:checked) ~ div > div.C {
	display: none;
}
#D:not(:checked) ~ div > div.D {
	display: none;
}
#E:not(:checked) ~ div > div.E {
	display: none;
}
#F:not(:checked) ~ div > div.F {
	display: none;
}
input[type="checkbox"]:not(:checked) ~ div > div.tr:not(:first-child) {
	background-color: white;
}
